:root {
	--color-danger: var(--pico-color-red);
	--color-success: var(--pico-color-jade);
	--page-background: var(--pico-background-color) url(../../public/img/bg/textured_paper.png) repeat top center;
	--page-background-blend-mode: multiply;
}

html {
	height: 100%;
}

body {
	background: var(--page-background);
	background-blend-mode: (var(--page-background-blend-mode));
	min-height: 100vh;
}

#root {
	min-height: 100vh;
	display: grid;
	grid-template-areas:
		'header'
		'main';
	grid-template-rows: auto 1fr;
}

main {
	grid-area: main;
	margin: 0 auto;
	padding: 1.5rem;
	width: 100vw;

	@media (min-width: 500px) {
		padding: 2rem;
	}
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	position: absolute;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 1px;
}

.group {
	display: flex;
	gap: 1rem;
}

.page-header {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0.5rem;

	sup {
		background-color: var(--pico-color-blue);
		border-radius: 1rem;
		min-width: 2rem;
		height: 2rem;
		top: -1rem;
		padding: 1rem 0.5rem;
		display: inline-block;
		text-align: center;
	}
}
