.flashcard {
	background-color: transparent;
	height: 12lh;
	margin-bottom: var(--pico-spacing);
	padding: 0;
	position: relative;
	width: auto;

	dialog h1 + & {
		width: 18lh;
	}

	&:has(dialog[open]) {
		z-index: 20;
	}

	.front,
	.back {
		background: var(--pico-card-background-color) url(../img/bg/dot-grid.webp) repeat top center;
		background-blend-mode: multiply;
		border: 2px solid var(--pico-form-element-border-color);
		border-radius: var(--pico-border-radius);
		backface-visibility: hidden;
		display: grid;
		grid-template-rows: 1fr auto;
		height: 100%;
		overflow-y: scroll;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;

		@media (prefers-reduced-motion: no-preference) {
			transform-style: preserve-3d;
			transition: transform 0.6s;
		}

		> footer {
			display: flex;
			flex-direction: row;
			height: min-content;
			margin: 0.25rem 0.75rem 1rem;
			justify-content: center;
			gap: 0.5rem;

			ul.list-tags {
				justify-content: center;
				gap: 0.2rem;

				li {
					margin: 0;

					.pill {
						border-radius: 14px;

						.name {
							font-size: 0.7rem;
							padding: 0.1rem 0.5rem;
						}
					}
				}
			}
		}
	}
	.front {
		transform: rotateY(0deg);
	}
	.back {
		transform: rotateY(180deg);

		form & {
			transform: none;
		}
	}
	&.flipped {
		> .front {
			transform: rotateY(180deg);
		}
		> .back {
			transform: rotateY(0deg);
		}
	}

	.content {
		display: grid;
		height: fit-content;
		min-height: 100%;
		padding: 1rem;

		> *:last-child {
			margin-bottom: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			code,
			kbd,
			pre {
				font-size: 1em;
			}
		}

		h1 {
			--pico-font-size: 1rem;
		}

		h2 {
			--pico-font-size: 0.9rem;
			margin-top: 1.5rem;
		}

		h3 {
			--pico-font-size: 0.8rem;
		}

		p,
		ul {
			font-size: 0.8rem;
		}

		ul {
			padding-left: 1rem;
			text-align: left;

			li p {
				margin-bottom: 0;
			}
		}

		hr:not(:first-child) {
			margin-top: 0;
		}

		code,
		kbd,
		pre {
			font-size: 0.7rem;
		}

		pre code {
			font-size: 0.6rem;
			line-height: 1.5;
			padding: 0.25rem;
		}
	}

	.front .content {
		align-content: center;
	}

	.back .content {
		display: block;
	}

	.stats {
		background-color: var(--pico-card-background-color);
		border: 2px solid var(--pico-form-element-border-color);
		border-radius: var(--pico-border-radius);
		display: block;
		height: 100%;
		overflow-y: scroll;
		position: absolute;
		width: 100%;
		z-index: 20;

		.btn-close {
			display: block;
			left: auto;
			margin: 0 0 0 auto !important;
			position: absolute;
			right: 0;
			top: 0;
		}

		.content {
			display: flex;
			min-height: 100%;
			padding: 1rem;
			text-align: center;
			margin: auto;
			flex-direction: column;
			justify-content: center;
		}
	}

	&.flipped aside {
		opacity: 0;
		transition: opacity 0.5s ease;

		&:hover,
		&:focus-visible,
		&:focus-within {
			opacity: 1;
		}
	}

	aside {
		display: grid;
		gap: 0.25rem;
		position: absolute;
		height: 2rem;
		top: 0.5rem;
		right: 0.5rem;
		z-index: 10;
		opacity: 1;
		transition: opacity 0.5s 0.3s ease;

		> button {
			&:not(:focus, :focus-visible, :focus-within) {
				background-color: transparent;
				border-color: transparent;
			}
		}

		[aria-expanded='true'] + nav {
			display: block;
		}

		nav {
			display: none;

			> ul {
				display: grid;
				margin: 0;
				gap: 0.25rem;

				> li {
					padding: 0;
				}
			}
		}

		// show only for screen readers on tab focus
		.btn-flip {
			bottom: -9.6lh;
			position: absolute;

			&:not(:focus, :focus-visible, :focus-within) {
				border: 0;
				clip: rect(0, 0, 0, 0);
				position: absolute;
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				width: 1px;
			}
		}
	}

	// markdown elements

	@for $i from 1 through 6 {
		h#{$i} {
			@for $j from 1 through 6 {
				&:has(+ h#{$j}) {
					margin-bottom: 0;
				}
			}
		}
	}

	+ footer {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}
}

ul.list-cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;
	padding: 0 0 2rem;
	width: auto;

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1300px) {
		grid-template-columns: repeat(4, 1fr);
	}

	> li {
		list-style: none;
		margin: 0;

		> .flashcard {
			margin: 0;
		}
	}
}
