/*----- DIALOGS -----*/

dialog {
	> article {
		max-width: 1200px;
		position: relative;
	}

	header,
	footer {
		background: transparent none;
	}

	header {
		border: none;
		margin-bottom: 0;
		padding-top: 1rem;
		text-align: center;
		width: calc(100% + var(--block-spacing-horizontal) * 2);

		h1,
		h2,
		h3 {
			margin: 0 auto 0;
			width: calc(100% - 80px);
		}
	}

	section {
		margin: 0;
		padding: 1rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	img {
		max-width: 250px;
		width: auto;
	}

	footer {
		align-items: center;
		border: none;
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: center;
		margin-top: 0;
	}

	select {
		min-width: 210px;
	}

	form {
		width: 100%;
	}

	&:not(.modal-edit):has(.flashcard) {
		background: transparent none;

		article {
			background: transparent none;
			box-shadow: none;
		}
	}
}
